<p-toast></p-toast>

<section class="dashboard-container">
  <div class="card">
    <div class="card-header">
      <h2>Cadastrar Conveniada</h2>
    </div>

    <div class="card-body">
      <form [formGroup]="companyForm" (ngSubmit)="save()">

        <div class="p-fluid">
          <div class="field">
            <p-floatLabel>
              <input
                id="name"
                type="text"
                pInputText
                formControlName="name"
                [ngClass]="{ 'ng-invalid ng-dirty': companyForm.get('name')?.invalid && companyForm.get('name')?.touched }"
              />
              <label for="name">Nome*</label>
            </p-floatLabel>
            <small *ngIf="companyForm.get('name')?.invalid && companyForm.get('name')?.touched" class="p-error">
              Nome é obrigatório.
            </small>
          </div>
        </div>

        <div class="p-fluid grid">
          <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
            <p-floatLabel>
              <p-calendar
                inputId="expLicenseFiredept"
                formControlName="expLicenseFiredept"
                dateFormat="dd/mm/yy"
                showIcon
              ></p-calendar>
              <label for="expLicenseFiredept">Alvará Bombeiros</label>
            </p-floatLabel>
          </div>

          <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
            <p-floatLabel>
              <p-calendar
                inputId="expLicenseOperating"
                formControlName="expLicenseOperating"
                dateFormat="dd/mm/yy"
                showIcon
              ></p-calendar>
              <label for="expLicenseOperating">Alvará Funcionamento</label>
            </p-floatLabel>
          </div>

          <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
            <p-floatLabel>
              <p-calendar
                inputId="expLicensePolice"
                formControlName="expLicensePolice"
                dateFormat="dd/mm/yy"
                showIcon
              ></p-calendar>
              <label for="expLicensePolice">Alvará Polícia</label>
            </p-floatLabel>
          </div>

          <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
            <p-floatLabel>
              <p-calendar
                inputId="expLicenseSurveillance"
                formControlName="expLicenseSurveillance"
                dateFormat="dd/mm/yy"
                showIcon

              ></p-calendar>
              <label for="expLicenseSurveillance">Alvará Vigilância Sanitária</label>
            </p-floatLabel>
          </div>
        </div>

        <div class="mt-3">
          <button
            type="submit"
            pButton
            label="Salvar"
            [disabled]="companyForm.invalid"
            class="p-button-primary"
          ></button>
        </div>
      </form>
    </div>
  </div>
</section>
