<div class="wrapper">
  <div class="p-fluid">
    <form [formGroup]="companyForm" (ngSubmit)="save()">
      <div class="field label-margin">
        <p-floatLabel>
          <input id="name" type="text" pInputText formControlName="name"/>
          <label for="name">Nome*</label>
        </p-floatLabel>
      </div>

      <div class="grid label-margin">
        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="expLicenseFiredept"
              formControlName="expLicenseFiredept"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="expLicenseFiredept">Bombeiros</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="expLicenseOperating"
              formControlName="expLicenseOperating"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="expLicenseOperating">Funcionamento</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="expLicensePolice"
              formControlName="expLicensePolice"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'"
            ></p-calendar>
            <label for="expLicensePolice">Polícia</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="expLicenseSurveillance"
              formControlName="expLicenseSurveillance"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="expLicenseSurveillance">Vigilância</label>
          </p-floatLabel>
        </div>
      </div>
    </form>
  </div>

  <div class="flex gap-2 options">
    <button type="button" pButton label="Cancelar" class="p-button-secondary" (click)="cancel()"></button>
    <button type="submit" pButton label="Salvar" [disabled]="companyForm.invalid" (click)="save()"></button>
  </div>
</div>
