<div class="wrapper">
  <div class="p-fluid">
    <form [formGroup]="empresaForm" (ngSubmit)="salvar()">
      <div class="field label-margin">
        <p-floatLabel>
          <input id="nome" type="text" pInputText formControlName="nome"/>
          <label for="nome">Nome*</label>
        </p-floatLabel>
      </div>

      <div class="grid label-margin">
        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="vencBombeiros"
              formControlName="vencBombeiros"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="vencBombeiros">Bombeiros</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="vencFuncionamento"
              formControlName="vencFuncionamento"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="vencFuncionamento">Funcionamento</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="vencPolicia"
              formControlName="vencPolicia"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'"
            ></p-calendar>
            <label for="vencPolicia">Polícia</label>
          </p-floatLabel>
        </div>

        <div class="field col-12 sm:col-6 md:col-6 lg:col-3">
          <p-floatLabel>
            <p-calendar
              inputId="vencVigilancia"
              formControlName="vencVigilancia"
              dateFormat="dd/mm/yy"
              [appendTo]="'body'">
            </p-calendar>
            <label for="vencVigilancia">Vigilância</label>
          </p-floatLabel>
        </div>
      </div>
    </form>
  </div>

  <div class="flex gap-2 options">
    <button type="button" pButton label="Cancelar" class="p-button-secondary" (click)="cancelar()"></button>
    <button type="submit" pButton label="Salvar" [disabled]="empresaForm.invalid" (click)="salvar()"></button>
  </div>
</div>
