<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<section class="dashboard-container">
  <div class="card">
    <div class="card-header">
      <h2>Todas as empresas</h2>
    </div>

    <div class="card-body">
      <div *ngIf="companies.length > 0; else noCompaniesTemplate">
        <p-table
          #companiesTable
          [value]="companies"
          [tableStyle]="{ 'min-width': '50rem' }"
          [rows]="10"
          [globalFilterFields]="['name']"
          [resizableColumns]="true"
          [scrollable]="true"
          scrollHeight="600px"
        >
          <ng-template pTemplate="caption">
            <div>
              <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                  <i class="pi pi-search"></i>
                </p-inputIcon>
                <input
                  type="text"
                  pInputText
                  size="50"
                  placeholder="Procurar por nome"
                  [(ngModel)]="globalFilter"
                  (input)="onGlobalFilterChange()"
                />
              </p-iconField>
            </div>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th style="text-align: center;">Alvará Bombeiros</th>
              <th style="text-align: center;">Alvará Funcionamento</th>
              <th style="text-align: center;">Alvará Polícia</th>
              <th style="text-align: center;">Alvará Vigilância Sanitaria</th>
              <th style="text-align: center;">Ações</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-company>
            <tr>
              <td style="width: 30%;">{{ company.name }}</td>
              <td style="width: 10%; text-align: center">{{ company.expLicenseFiredept | date:'dd/MM/yyyy' }}</td>
              <td style="width: 10%; text-align: center">{{ company.expLicenseSurveillance | date:'dd/MM/yyyy' }}</td>
              <td style="width: 10%; text-align: center">{{ company.expLicensePolice | date:'dd/MM/yyyy' }}</td>
              <td style="width: 10%; text-align: center">{{ company.expLicenseOperating | date:'dd/MM/yyyy' }}</td>
              <td style="text-align: center; width: 6%;">
                <button
                  pButton
                  icon="pi pi-pencil"
                  class="p-button-text"
                  style="color: #2c3e50"
                  pTooltip="Editar"
                  (click)="editCompany(company)"
                ></button>
                <button
                  pButton
                  icon="pi pi-trash"
                  class="p-button-text"
                  style="color: #e74c3c"
                  pTooltip="Excluir"
                  (click)="deleteCompany(company)"
                ></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <ng-template #noCompaniesTemplate>
        <p class="no-alvara">Nenhuma empresa encontrada</p>
      </ng-template>
    </div>
  </div>
</section>
