<section class="dashboard-container">
  <div class="top-cards-container">
    <div class="card" id="monitoramento-empresas">
      <div class="card-header">
        <span class="pi pi-desktop"></span>
        <h2>Empresas Monitoradas</h2>
      </div>
      <div class="card-body">
        <p class="card-number">{{ totalCompanies }}</p>
        <button class="btn-alvaras-vencidos" (click)="goToExpiredLicenses()">Alvarás Vencidos: {{ totalExpiredLicenses }}</button>
      </div>
    </div>

    <div class="card card-alvara-vencendo">
      <div class="card-header">
        <span class="pi pi-clock"></span>
        <h2>Alvarás Vencendo</h2>
      </div>
      <div class="card-body">
        <div *ngFor="let item of licensesExpiringIn30Days | slice: 0:3" class="alvara-item">
          <div class="alvara-info">
            <span><strong>Empresa:</strong> {{ item.company.name }}</span>
            <span><strong>Tipo de Alvará:</strong> {{ item.licenseType || 'N/A' }}</span>
            <div class="vencimento-info">
              <strong>Vencimento:</strong>
              <div class="vencimento-dados">
                <span>{{ item.dueDate | date:'dd/MM/yyyy' }}</span>
                <p-tag
                  [severity]="getDaysBadgeColor(calculateDaysUntilExpiration(item.dueDate))"
                  [value]="getExpirationText(item.dueDate)">
                </p-tag>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <span class="pi pi-calendar-clock"></span>
        <h2>Próximos Vencimentos</h2>
      </div>
      <div class="card-body">
        <div *ngFor="let item of upcomingExpirations" class="alvara-item">
          <div class="alvara-info">
            <span><strong>Empresa:</strong> {{ item.company.name }}</span>
            <span><strong>Tipo de Alvará:</strong> {{ item.licenseType || 'N/A' }}</span>
            <div class="vencimento-info">
              <div class="vencimento-label">
                <strong>Vencimento:</strong>
              </div>
              <div class="vencimento-dados">
                <span>{{ item.dueDate | date:'dd/MM/yyyy' }}</span>
                <p-tag
                  [severity]="getDaysBadgeColor(calculateDaysUntilExpiration(item.dueDate))"
                  [value]="getExpirationText(item.dueDate)">
                </p-tag>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vencimentos-container">
    <div class="card">
      <div class="card-header">
        <span class="pi pi-exclamation-circle" style="color: red"></span>
        <h2>Alvarás vencendo em 30 dias</h2>
      </div>
      <div class="card-body">
        <div *ngIf="licensesExpiringIn30Days.length > 0; else noExpirationsIn30Days">
          <p-table
            [value]="licensesExpiringIn30Days"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            [resizableColumns]="true"
            [scrollable]="true"
            scrollHeight="350px"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>Empresa</th>
                <th>Alvará</th>
                <th style="text-align: center">Vencimento</th>
                <th style="text-align: center">Faltam</th>
                <th style="text-align: center">Ações</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td style="width: 60%;">{{ item.company.name }}</td>
                <td style="width: 20%;">{{ item.licenseType || 'N/A' }}</td>
                <td style="width: 8%; text-align: center;">{{ item.dueDate | date:'dd/MM/yyyy' }}</td>
                <td style="width: 7%; text-align: center;">{{ getExpirationText(item.dueDate) }}</td>
                <td style="width: 5%; text-align: center;">
                  <button pButton type="button" icon="pi pi-angle-right" class="p-button-text" pTooltip="Visualizar" style="color: #2c3e50" (click)="goToCompany(item.company.id)"></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>

        <ng-template #noExpirationsIn30Days>
          <p class="no-alvara">Nenhum alvará vencendo dentro de 30 dias</p>
        </ng-template>
      </div>
    </div>
  </div>
</section>
